<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Byte Insider - Tech Blogging Site</title>
    <link rel="icon" href="/images/byte.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="site">
      <%- include("../views/partials/navabar.ejs") %> <% if (user) { %>
      <div class="profile-container">
        <div class="profile-header">
          <img
            src="<%= author.CoverPhoto || 'https://via.placeholder.com/800x150' %>"
            alt="Cover Image"
            class="cover-image"
          />
          <div class="profile-info">
            <img
              src="<%= author.ProfilePhoto || 'path-to-profile-image.jpg' %>"
              alt="Profile Image"
              class="profile-image"
            />
            <div class="profile-details">
              <h1 style="text-transform: capitalize"><%= author.Username %></h1>
              <p><%= author.Bio.join(' &middot; ') %></p>
              <div class="profile-link">
                <a href="<%= author.TwitterLink %>"
                  ><i class="fa-brands fa-x-twitter"></i
                ></a>
                <a href="<%= author.InstagramLink %>"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
                <a href="<%= author.LinkedinLink %>"
                  ><i class="fa-brands fa-linkedin-in"></i
                ></a>
              </div>
            </div>
            <div class="profile-stats">
              <div>
                <strong><%= author.Blog ? author.Blog.length : 0 %></strong>
                <p>Blog</p>
              </div>
              <div>
                <strong><%= author.Follower.length %></strong>
                <p>Followers</p>
              </div>
              <div>
                <strong><%= author.Following.length %></strong>
                <p>Following</p>
              </div>
            </div>
            <div class="profile-actions">
              <% if (Following) { %>
              <a class="<%= Following %>" href="/unfollow/<%= author._id %>">
                Following <span><i class="fa-solid fa-user-minus"></i></span>
              </a>
              <% } else { %>
              <a class="Follow" href="/follow/<%= author._id %>">
                Follow <span><i class="fa-solid fa-user-plus"></i></span>
              </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <% } else { %>
      <p>Please log in to view your profile.</p>
      <% } %>
      <div class="profile-container1">
        <div class="additional-posts">
          <% author.Blogs.forEach(blog => { %>
          <div class="post">
            <img src="<%= blog.coverPhoto %>" alt="<%= blog.title %>" />
            <div class="post-content">
              <span class="author"
                ><%= blog.author.Username %> • <%= blog.createdAt.toDateString()
                %></span
              >
              <h3><%= blog.title %></h3>
              <p><%= blog.content.split(' ').slice(0, 30).join(' ') %></p>
              <span class="tags"
                ><a class="tags-link" href="/blog/<%= blog._id %>">Read</a
                ><a href="/like/<%= blog._id %>">
                  <i class="fa-solid fa-heart"></i></a
              ></span>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <%-include("../views/partials/footer.ejs")%>
    </div>
    <script src="/javascripts/profile.js"></script>
  </body>
</html>
